* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 125%;
    font-family: 'DM sans', sans-serif;

    --font-size-1: 2.25rem;
    --font-size-2: 1.75rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1rem;
    --font-size-5: 0.75rem;

    --color-blue-1: #1c6cf9;
    --color-blue-2: #33489d;
    --color-blue-3: #141e41;

    --color-pink-1: #f42771;

    --color-black-1: #181818;
}

@media (min-width: 768px) {
    
    .container {
        padding: 60px 40px;
    }
}