/* box banner */
.banner {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, var(--color-blue-2) 15%, var(--color-blue-3) 100%);
    color: #fff;
    padding-top: 70px;
    text-align: center;
}

.banner .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 5px;   
}

.banner .box .paragraph {
    margin: 15px 0;
    font-size: var(--font-size-5);
    font-weight: 400;
    color: #fff;
}

.banner .box .title1 {
    font-size: var(--font-size-3);
}

.banner .box .title2 {
    font-size: var(--font-size-1);
    display: block;
    max-width: 450px;
}

.banner .box .buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
    width: 100%;
    justify-content: space-evenly;
}

.banner .box .buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    min-width: 170px;
    border-radius: 35px;
    margin: 0 5px 15px;
    font-size: var(--font-size-4);
    font-weight: 700;
    background: var(--color-blue-1);
    color: #fff;
}

.banner .box .buttons a:hover {
    background: var(--color-blue-2);
}

.banner .box .buttons a {
    text-decoration: none;
}

.banner .box .buttons a svg {
    margin-right: 5px;
}

/* box about */

.about .box {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.about .box .img {
    flex: 1;
    margin: 0 auto 20px;

}

.about .box .img img {
    width: 240px;
    border-radius: 50%;
}

.about .box .text {
    flex: 2
}

.about .box .text h3 {
    color: var(--color-blue-2);
    margin-top: 15px;
}

.about .box .text p {
    margin: 15px 0;
    text-align: justify;
}

.about .box .text a {
    color: var(--color-gray-1);
    font-weight: 600;
    text-decoration: none;
}

@media (min-width: 760px) {
    .about .box {
        flex-direction: row;
    }

    .about .box .img img {
        width: 100%;
    }

    .about .box .text {
        padding-left: 40px;
    }
}